<footer>
    <p>&copy; 2023 Paint your Heart</p>
    <p>
        <a href="#">Facebook</a> |
        <a href="#">Instagram</a> |
        <a href="#">Lined-In</a> |
        <a href="#">Twitter</a>
    </p>
</footer>
</body>

</html>