<%- include('header'); -%>

<body>
    <div class="container">
        <h1>Flowing Through Tasks </h1>
        <ul id="taskList">
                <li>Gather Supplies</li>
                <li>Prepare Workspace</li>
                <li>Sketch or Plan</li>
                <li>Prime Canvas</li>
                <li>Mix Paints</li>
                <li>Start Painting</li>
                <li>Take Breaks</li>
                <li>Detail Work</li>
                <li>Let Dry</li>
                <li>Review and Adjust</li>
                <li>Clean Up</li>
                <li>Store Artwork</li>
                <li>Promote Your Art (Optional)</li>
                <li>Plan Next Project</li>
        </ul>
                <% for (let i=0; i<addedItem.length; i++){ %>
                <li><%= addedItem [i] %></li>
                    <% } %>
        </ul>

        <%- include('form'); -%>

    </div>
<%- include('footer'); -%>   
