body {
    font-family: Arial, sans-serif;
    background-color: #f58686;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color:#7f7e7b;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 75px;
}

h1 {
    font-size: 24px;
    color: #2a352d;
    text-align: center;
    background-color: #f4efc1;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="text"] {
    width: 65%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #f4efc1;
    color: #242323;
    font-weight: 900;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color:#54BAB9;
}

ul {
    list-style-type: none;
    padding: 0; 
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color:#333231;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}

footer p {
    font-size: 16px;
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}




